@import '../theme/styles/globals.scss';

.product-list-search {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;

    & input {
        width: 30%;
        height: 70%;
        padding-left: 15px;
        color: $wetAsphalt;
    }
}

.product-list-container {
    width: 100%;
    height:90%;

    & ul {
        display: flex;
        flex-wrap: wrap;
        height:90%;
        align-content: flex-start;
        justify-content: center;
        margin: 0;

        & li {
            display: flex;
            background: #EEE;
            flex-direction: column;
            position: relative;
            text-align: center;
            width: calc(18%);
            height: calc(45%);
            margin-right: 2%;
            margin-bottom: 2%;
            line-height: 1.3rem;
            border-radius: 8px;
            transition: transform 0.2s;

            & .product-title {
                display: flex;
                flex: 0 70%;
                font-size: 1.5rem;
                line-height: 3vh;
                color: $wetAsphalt;
                justify-content: center;
                padding: 5%;
            }

            & .product-profit {
                display: flex;
                flex: 0 30%;
                position: relative;
                width: auto;
                font-size: 2.4rem;
                line-height: 1.3;
                color: white;
                border-radius: 0 0 8px 8px;
                justify-content: center;
                align-items: center;
                background-color: $wetAsphalt;

                & .product-profit-dkk {
                    position: relative;
                    bottom: 8px;   
                    font-size: 1.4rem;
                    margin-right: 3px;
                    vertical-align: top;
                }

                & .product-profit-value {
                    font-size: 2.4rem;
                    line-height: 1.3;
                }
            }

            &:hover {
                transform: translateY(-5px);
                cursor: pointer;

                & .product-title {
                    color: $amethyst;
                }
    
                & .product-profit {
                    background-color: $amethyst;
                }
            }
        }
    }

    & .controls {
        display: flex;
        height: 10%;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .product-list-search {    
        & input {
            width: 50%;
        }
    }
    
    .product-list-container {
        width: 100%;
        height:90%;
    
        & ul {
            padding: 0;

            & li {
                width: calc(48%);
                height: calc(18%);
                margin-right: 2%;
                margin-bottom: 2%;
    
                & .product-title {
                    flex: 0 60%;
                    font-size: 0.7rem;
                    line-height: 2vh;
                   
                }
    
                & .product-profit {
                    flex: 0 40%;
    
                    & .product-profit-dkk {
                        bottom: 0;   
                        font-size: 1rem;
                    }
    
                    & .product-profit-value {
                        font-size: 1rem;
                        line-height: 1.3;
                    }
                }
            }
        }
    
        & .controls {
            display: flex;
            height: 10%;
            justify-content: center;

            ::ng-deep .pagination-previous, ::ng-deep .pagination-next {
                display: none;
            }
        }
    }
  }


  @media screen and (max-width: 1200px) {
    .product-list-search {    
        & input {
            width: 50%;
        }
    }
    
    .product-list-container {
        width: 100%;
        height:90%;
    
        & ul {
            padding: 0;

            & li {
    
                & .product-title {
                    flex: 0 60%;
                    font-size: 1.2rem;
                    line-height: 2.2vh;
                   
                }
    
                & .product-profit {
                    flex: 0 40%;
    
                    & .product-profit-dkk {
                        bottom: 0;   
                        font-size: 1rem;
                    }
    
                    & .product-profit-value {
                        font-size: 1.5rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
  }