
<div class="table-container">

  <table mat-table [dataSource]="dataSource" matSort>
    
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{ row.title }}</td>
    </ng-container>
  
    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
      <td mat-cell *matCellDef="let row">{{ row.brand }}</td>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">{{ row.price }} kr</td>
    </ng-container>
  
    <!-- ProductNo Column -->
    <ng-container matColumnDef="productno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product No.</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.productno }}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
  </table>
  
  <mat-progress-bar mode="indeterminate" *ngIf="(filterString$ | async) !== null && dataSource === undefined"></mat-progress-bar>
  
  <div class="empty-list" *ngIf="dataSource?.filteredData.length === 0">
    No data matching the filter "{{ filterString$ | async}}"
  </div>
</div>

<mat-paginator [pageSizeOptions]="[10, 25, 100]"  class="mat-paginator-sticky"></mat-paginator>
